@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Nunito:wght@300&display=swap');

.encabezado{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.titulo{
    color: #2c2c2c;
    background-color: #C4C4C4;
    letter-spacing: 6px;

}
.espacio {
    margin-top: 10px;
    min-height: 150px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: darkslategrey;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.perfil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
h1{
    text-align: center
}
h3 {
    background-color: #C4C4C4;
    font-family: 'Noto Sans', sans-serif;
    color: #2c2c2c;
    letter-spacing: 4px;
    padding-left: 1%;
}

.contenido {
    padding-left: 2%;
    font-family: 'Nunito', sans-serif;
}

.pie{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: azure;
    background-color: #2c2c2c;
    padding: 1px;
    margin-top: 100px;
    gap: 5px;
}